/* style.css */

body {
    font-family: 'Arial', sans-serif;
}

.stButton button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.stButton button:hover {
    background-color: green;
}
